<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>in.prerakgada.MenuSprite.PowerDaemon</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/MenuSpritePowerHelper</string>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>in.prerakgada.MenuSprite</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>in.prerakgada.MenuSprite.PowerDaemon</key>
		<true/>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
